.dbox {
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.select {
  text-align: center;
  margin: auto;
  width: 100px;
  background-color: skyblue;
  font-size: small;
  font-weight: bolder;
  color: black;
  border-radius: 10px;
  height: 30px;
  align-items: center;
  border-color: transparent;

}

.display {
  display: flex;
  justify-content: space-around;
}

.center {
  /* display: flex; */
  justify-content: center;
  margin: auto;
}

.radius {
  border-radius: 25px;
}

.dropdown{
  background-color:rgb(64, 206, 254);
  color: black;
}