.align{
    text-align: center;
}

.txt{
    color:navy;
    font-family:monospace;
    font-weight: bolder;
}

.border {
    width: 300px;
    text-align: center;
    display:inline-block;
    justify-content: center;
}
button{
    background-color: green;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}
.borderRadius{
    border-radius: 10px;
}
.cardColor{
    background-color: rgb(221, 248, 221);
}