.align{
    text-align: center;
}

.txt{
    color:black;
    font-family:monospace;
}

.border {
    width: 300px;
    text-align: center;
    display:inline-block;
    justify-content: center;
}
button{
    background-color: green;
    color: black;
    font-weight: bolder;
}