/* {
    background-color: beige;
} */
.Pbox{
    /* border: 1px solid black; */
    margin: 30px auto 0px;
    /* padding: 50px; */
    padding-top: 5px;
    width: 80%;
    height: 500px;
    background-color:aliceblue;
}
.Profile{
    padding: 5px;
    text-align: left;
    font-size: large;
    font-family:initial;
    font-weight: bolder;
}
.details{
    padding:40px;
    margin-top: 10px;
}
.logout{
    cursor: pointer;
}