* {
  margin: 0px;
  padding: 0px;
}

.bgimg {
  height: 100vh;
  background-image: url("./resources/Assets/pexels-pixabay-162553.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 45%;
  padding: 40px 0;
  text-align: center;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-weight: bold;
  border: 10px inset;

}

.title {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bolder;
  color: yellow;
  text-shadow: 0 0 10px red;

}
.slogan{
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  text-shadow: 0 0 5px white;
}
button{
  background-color: black;
  color: white;
  border-radius: 10px !important;

}